{% extends 'base.html' %}

{% block user %}
    {% if user.is_authenticated %}
        <div class="phone_num d-none d-xl-block">
            <a  class="btn btn-primary" style="margin-left:-510px; margin-top:2px; width:100px" href="{% url 'accounts:profile' %}"> My Profile </a>
        </div>


        <div class="phone_num d-none d-xl-block">
            <a  class="btn btn-danger" style="margin-left:-406px; margin-top:2px; width:100px"  href="{% url 'logout' %}"> Log Out</a>
        </div>
    {% else %}
        <div class="phone_num d-none d-xl-block">
            <a  class="btn btn-primary" style="margin-left:-406px; margin-top:2px; width:100px"  href="{% url 'login' %}">Log in</a>
        </div>
    {% endif %}
{% endblock %}

{% block body %}

<div class="jumbotron" style="width:100%">
    <a class="btn btn-primary btn-lg" style="margin-left:440px;" href="{% url 'blog:post_create'%}" role="button"> Add New Post </a>
</div>
        {% for post in all_post %}
        <div class="col-md-4">
            <div class="card" >
                {% if post.img %}
                  <img src="{{post.img.url}}" class="card-img-top" alt="..." >
                {% endif %}
                  <div class="card-body">
                    <h5 class="card-title">{{post}}</h5>
                    <p class="card-text">{{post.content|safe|truncatewords:50}}</p>
                    <a href="{% url 'blog:all_posts1_detail' post.id %}" class="btn btn-primary"> Know More </a>
                  </div>
            </div>
        </div>
       {% endfor %}
<div class="container">
    <div aria-label="blog-pagination" style="margin-left:400px; margin-top:50px;">
    <ul class="pagination">
        <!-- Previous -->
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}"> Previous </a>
            </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link"> Previous </a>
        </li>
        {% endif %}
       <!-- End Of Previous -->

        <!-- Start Of Loop -->
            {% for post_num in page_obj.paginator.page_range %}
                {% if page_obj_num == post_num %}
                    <li class="page-item active">
                        {{post_num}}
                            <span class="sr-only">(current)</span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{post_num}}"> {{post_num}} </a>
                    </li>
                {% endif %}
            {% endfor %}
        <!-- End Of Loop -->


        <!--- Next -->
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}"> Next </a>
            </li>
        {% else %}
            <li class="page-item disabled">
                <a class="page-link"> Next </a>
            </li>
        {% endif %}
    </ul>
</div>
</div>
{% endblock %}
